.calculator {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    color: #fff;
    font-size: 1.8rem;
    text-shadow: #5dc8e5 0 0 20px;
    border: 1px solid #1a1a1a;
    background-color: #060606;
    outline: none !important;
  }
  button:hover {
    background-color: #222120;
  }
}

.zero {
  width: 50%;
}
